<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map view</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List view</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List view content</div>
    <div *ngSwitchDefault>otherwise</div>
</div>

<button (click)="loadcourses()">load courses</button>
<button (click)="add()">Add course</button>
<ul>
    <li *ngFor="let course of courses; even as isEven" (click)="remove(course)">{{course.name}}<span *ngIf="isEven">(EVEN)</span></li>
</ul>

<div *ngIf="courses.length > 0">
    list
</div>

<favorite></favorite>

<input type="text" [appInputFormat]="'lowercase'">
